
<h1>Reports</h1><br />


<% (1..6).to_a.each do |month| %>

<table class="table table-bordered">
	<tr>
		<th>Jump type</th>
		<th>Approved?</th>
    <th><%= DateTime.new(Time.now.year,month).strftime("%B")%></th>
  </tr>

  <% Slot.report_month(month).each do |jump_array| %>
  <tr>
    <td><%= jump_array[0] %></td>
    <% if jump_array[1].nil? %>
      <td>N/A</td>
    <% elsif jump_array[1] %>
      <td>Approved</td>
    <% else %>
      <td>Failed</td>
    <% end %>
    <td><%= jump_array [2] %></td>

  <% end %>
</table>
<% end %>

